    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }
    header {
        background-color: #333;
        
        /* background-image: url(../B/B.jpg);
        backface-visibility: visible;
        background-repeat: none;
        background-size:cover; */
        color: #fff;
        padding: 14px;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 0px;
    }
    nav {
        position: fixed;
        top: 121px;
        width: 100%;
        background-color: #666;
        padding: 0.5em;
        text-align: center;
    }
    nav a {
        color: #fff;
        text-decoration: none;
        margin: 0 1em;
    }
    a:hover {
        color: #d3f92c;
        
    }
    img {
        border-radius: 25px;
        box-shadow: 0 10 15 rgb(189, 173, 173);
        border: 25px;
        padding: 0;
        margin: 15px;
    }
    img:hover {
        padding: 2px;
        box-shadow: 0 0 15px rgb(23, 23, 23);
        cursor: pointer;
    }
    section {
        max-width: 800px;
        margin: 2em auto;
        
        padding: 1em;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position:static;
        top: 350px;
        margin-top: 180px;
    }
    article {
        margin-bottom: 1.5em;
    }
    footer {
        text-align: center;
        padding: 1em;
        background-color: #333;
        color: #fff;
    }
    .title-under {
        font-family: italic;
    }
    h2 {
        text-align: center;
       
    }
    select {
        background: transparent;
        border: 0px none;
    }
    
    #top-Direction {
        height: 100px;
        width: 100px;
        border-radius: 50%;
        position: fixed;
        right: 0%;
        top: 680px;
    }
    .top {
        position: fixed;
        right: 0%;
        top: 680px;
        font-size: 25px;
        color: black;
        border: 2px solid rgb(179, 255, 0);
        border-radius: 50%;
    }
    #top:hover {
        border: 2px solid rgb(72, 0, 255);
        padding: 0px;

    }
    #home-footer {
        position: relative;
        top: 90%;
    }
    #home-footer a {
        margin-left: 15px;
        color: #fff;
    }
    /* #home-footer a:hover {
        
        color: rgb(139, 139, 243);
    } */
    input{
        background: transparent;
        border-radius: 3px;
        border: 1px dotted rgb(98, 82, 82);
    }
    
    input: hover{
        background: rgb(230, 236, 238);
       
    }
    fieldset{
        border-radius: 5px;
        width: fit-content;
    }
    fieldset>button{
        margin-left: 45px;
        border-radius: 15px;
        padding: 5px;
        border-color:rgb(39, 18, 18);
    }
    fieldset>button: hover{
        border-color:rgb(249, 248, 248);
    }
    textarea{
        background-color: white;
    }
    textarea: hover{
        background-color: rgb(249, 241, 241);
    }
